<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{{ if .Page.Title }}
	<title>{{ .Page.Title }} - {{ .Site.Title }}</title>
{{ else }}
	<title>{{ .Site.Title }}</title>
{{ end }}

{{ $css_reset := resources.Get "css/reset.css" }}
{{ $styles := resources.Get "css/main.css" }}
{{ $styles = slice $styles $css_reset | resources.Concat "css/bundle.css" | resources.Minify | resources.Fingerprint }}
<link rel="stylesheet" href="{{ $styles.Permalink }}">

{{ $js := resources.Get "js/theme.js" | resources.Minify | resources.Fingerprint }}
<script src="{{ $js.Permalink }}" defer></script>
