<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{{ if .Page.Title }}
	<title>{{ .Page.Title }} - {{ .Site.Title }}</title>
{{ else }}
	<title>{{ .Site.Title }}</title>
{{ end }}

{{ $main_styles := resources.Get "css/main.css" }}
{{ $css_reset := resources.Get "css/reset.css" }}

{{ $styles := slice $main_styles $css_reset | resources.Concat "css/bundle.css" | resources.Minify | resources.Fingerprint }}
<link rel="stylesheet" href="{{ $styles.Permalink | relURL }}">

{{ $js_theme := resources.Get "js/theme.js" }}
{{ $js_hamburger := resources.Get "js/hamburger.js" }}

{{ $js := slice $js_theme $js_hamburger | resources.Concat "js/bundle.js" | resources.Minify | resources.Fingerprint }}
<script src="{{ $js.Permalink | relURL }}" defer></script>
