<div class="dropdown" id="theme-selector" title="catppuccin btw">
	<div class="dropbtn">Theme</div>
	<div class="dropdown-content">
		<input type="radio" checked="false" name="theme" value="latte" id="latte" /><label for="latte">🌻</label>
		<input type="radio" checked="false" name="theme" value="frappe" id="frappe" /><label for="frappe">🪴</label>
		<input type="radio" checked="false" name="theme" value="macchiato" id="macchiato" /><label for="macchiato">🌺</label>
		<input type="radio" checked="true" name="theme" value="mocha" id="mocha" /><label for="mocha">🌿</label>
	</div>
</div>
